{% load static %}
<!doctype html>
<html lang="ko">

  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="{% static 'img/sterun_icon.png' %}"/>
    <link rel="icon" href="{% static 'img/sterun_icon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sterna.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/formstyle.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}"/>

    <title>STERUN</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>

  </head>

  <body>
    <nav class="navbar">
      <ul class="navbar-icons">
        <li style="line-height:2rem;">
          <a href="https://www.instagram.com/sterun.kr/" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li style="line-height:2rem;">
          <a href="https://www.x.com/Jason9835958008" target="_blank">
            <i class="fa-brands fa-x-twitter"></i>
          </a>
        </li>
        <li>
          <!--a href="https://www.youtube.com" target="_blank"> <i class="fab fa-youtube"></i> </a-->
          <a href="{% url "reservation:contact" %}">
            <p class="contact-button-nav">CONTACT</p>
          </a>
        </li>
      </ul>
      <div class="navbar-logo">
        <a href="{% url "reservation:sterna" %}">
          <img src="{% static 'img/sterun-logo-3.png' %}" alt=""/>
        </a>
      </div>
      <ul class="navbar-menu">
        <li>
          <a href="{% url "reservation:sterna" %}">HOME</a>
        </li>
        <li>
          <a href="{% url "reservation:book" %}">RESERVATION</a>
        </li>
      </ul>
      <a href="#" class="navbar-toggleBtn" id="modalOpenButton">
        <i class="fas fa-bars"></i>
      </a>
    </nav>
    <div class="navbar-space"></div>
    <div style="pc-space"></div>

    <div style="min-height:100vh;">

      <div class="tocenter">
        <div class="formstyle">
          <div class="text-on-img" style="margin-bottom:20px;">
            <div class="background-wrap">
              <div class="content tocenter">
                <span>Reservation Form</span>
              </div>
            </div>
          </div>
          <div class="form-box">
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.media }}
              <div class="label-head">Please let me know your details :)</div>
              <div class="label-sub">Please make sure to enter your name exactly as it appears on your passport.</div>
              <div class="label-space"></div>
              <div class="flex-row-start">
                <p class="indentation">
                  <label for="id_client" class="label-title forced">Name</label>
                  <input type="text" name="client" class="form-control" maxlength="20" required="" id="id_client">
                </p>
                <p class="indentation">
                  <label for="id_contact" class="label-title forced">E-mail</label>
                  <input type="text" name="contact" class="form-control" maxlength="50" required="" id="id_contact">
                </p>
              </div>
              <div class="depart-items"></div>
              <p class="indentation">
                <label for="id_location" class="label-title forced">Place to Stay</label>
                <input type="text" name="location" class="form-control" maxlength="50" required="" id="id_location">
              </p>
              <div class="depart-sec"></div>
              <div class="label-head">Please enter the start and end dates of your rental period.</div>
              <div class="label-space"></div>
              <div class="flex-row-start">
                <p class="indentation">
                  <label for="id_start_date" class="label-title forced">Start Date</label>
                  <input type="date" name="start_date" class="form-control-date" required="" id="id_start_date">

                </p>

                <p class="indentation">
                  <label for="id_start_time" class="label-title forced">Start Time</label>
                  <input type="time" name="start_time" value="00:51" class="form-control-time" id="id_start_time"><input type="hidden" name="initial-start_time" value="2024-08-02 00:51:14+00:00" id="initial-id_start_time">

                </p>
              </div>
              <div class="flex-row-start">
                <p class="indentation">
                  <label for="id_end_date" class="label-title forced">End Date</label>
                  <input type="date" name="end_date" class="form-control-date" required="" id="id_end_date">

                </p>

                <p class="indentation">
                  <label for="id_end_time" class="label-title forced">End Time</label>
                  <input type="time" name="end_time" value="00:51" class="form-control-time" id="id_end_time"><input type="hidden" name="initial-end_time" value="2024-08-02 00:51:14+00:00" id="initial-id_end_time">

                </p>
              </div>

              <div class="label-head">Please select the sizes for the items you wish to reserve.</div>
              <div class="label-space"></div>
              <!-- size table modal -->
              <div id="sizeContainer-top" class="hidden">
                <div id="sizeContent-top">
                  <div class="flex-row-notwrap modal-title">
                    <p></p>
                    <div>TOP SIZE</div>
                    <a id="sizeCloseButton-top">
                      <p>X</p>
                    </a>
                  </div>
                  <div id="tab-1">
                    <div class="gender-title">
                      MAN
                    </div>
                    <table class="tg">
                      <thead>
                        <tr>
                          <th class="tg-0lax">Category</th>
                          <th class="tg-f4yw">
                            <span>KOR</span></th>
                          <th class="tg-vbs7" colspan="2">
                            <span>US</span></th>
                          <th class="tg-f4yw">
                            <span>UK</span></th>
                          <th class="tg-vbs7" colspan="2">
                            <span>JP</span></th>
                          <th class="tg-f4yw">
                            <span>FR</span></th>
                          <th class="tg-vbs7">
                            <span>EU</span></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="tg-0lax">XS</td>
                          <td class="tg-9ge1">
                            <span>85</span></td>
                          <td class="tg-tiu0">
                            <span>85-90</span></td>
                          <td class="tg-tiu0">
                            <span>14</span></td>
                          <td class="tg-9ge1">
                            <span>0</span></td>
                          <td class="tg-tiu0">
                            <span>S</span></td>
                          <td class="tg-tiu0">
                            <span>36</span></td>
                          <td class="tg-9ge1">
                            <span>40</span></td>
                          <td class="tg-tiu0">
                            <span>44-46</span></td>
                        </tr>
                        <tr>
                          <td class="tg-0lax">S</td>
                          <td class="tg-9ge1">
                            <span>90</span></td>
                          <td class="tg-tiu0">
                            <span>90-95</span></td>
                          <td class="tg-tiu0">
                            <span>15</span></td>
                          <td class="tg-9ge1">
                            <span>1</span></td>
                          <td class="tg-tiu0">
                            <span>M</span></td>
                          <td class="tg-tiu0">
                            <span>38</span></td>
                          <td class="tg-9ge1">
                            <span>42, 44</span></td>
                          <td class="tg-tiu0">
                            <span>46</span></td>
                        </tr>
                        <tr>
                          <td class="tg-0lax">M</td>
                          <td class="tg-9ge1">
                            <span>95</span></td>
                          <td class="tg-tiu0">
                            <span>95-100</span></td>
                          <td class="tg-tiu0">
                            <span>15.5-16</span></td>
                          <td class="tg-9ge1">
                            <span>2</span></td>
                          <td class="tg-tiu0">
                            <span>L</span></td>
                          <td class="tg-tiu0">
                            <span>40</span></td>
                          <td class="tg-9ge1">
                            <span>46, 48</span></td>
                          <td class="tg-tiu0">
                            <span>48</span></td>
                        </tr>
                        <tr>
                          <td class="tg-0lax">L</td>
                          <td class="tg-9ge1">
                            <span>100</span></td>
                          <td class="tg-tiu0">
                            <span>100-105</span></td>
                          <td class="tg-tiu0">
                            <span>16.5</span></td>
                          <td class="tg-9ge1">
                            <span>3</span></td>
                          <td class="tg-tiu0">
                            <span>LL, XL</span></td>
                          <td class="tg-tiu0">
                            <span>42</span></td>
                          <td class="tg-9ge1">
                            <span>50, 52</span></td>
                          <td class="tg-tiu0">
                            <span>50</span></td>
                        </tr>
                        <tr>
                          <td class="tg-0lax">XL</td>
                          <td class="tg-9ge1">
                            <span>105</span></td>
                          <td class="tg-tiu0">
                            <span>105-110</span></td>
                          <td class="tg-tiu0">
                            <span>17.5</span></td>
                          <td class="tg-9ge1">
                            <span>4</span></td>
                          <td class="tg-tiu0">
                            <span>-</span></td>
                          <td class="tg-tiu0">
                            <span>44</span></td>
                          <td class="tg-9ge1">
                            <span>54, 56, 58</span></td>
                          <td class="tg-tiu0">
                            <span>52</span></td>
                        </tr>
                        <tr>
                          <td class="tg-0lax">XXL</td>
                          <td class="tg-9ge1">
                            <span>110</span></td>
                          <td class="tg-tiu0">
                            <span>110-</span></td>
                          <td class="tg-tiu0">
                            <span>-</span></td>
                          <td class="tg-9ge1">
                            <span>5</span></td>
                          <td class="tg-tiu0">
                            <span>-</span></td>
                          <td class="tg-tiu0">
                            <span>46</span></td>
                          <td class="tg-9ge1">
                            <span>60, 62</span></td>
                          <td class="tg-tiu0">
                            <span>54</span></td>
                        </tr>
                      </tbody>
                    </table>

                    <div class="gender-title">
                      WOMAN
                    </div>

                    <table class="tg">
                      <thead>
                        <tr>
                          <th class="tg-0lax">Category</th>
                          <th class="tg-f4yw">
                            <span>KOR</span></th>
                          <th class="tg-vbs7">
                            <span>US</span></th>
                          <th class="tg-f4yw">
                            <span>JP</span></th>
                          <th class="tg-vbs7">
                            <span>UK, AU</span></th>
                          <th class="tg-f4yw">
                            <span>FR</span></th>
                          <th class="tg-vbs7">
                            <span>IT</span></th>
                          <th class="tg-f4yw">
                            <span>EU</span></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="tg-0lax">XS</td>
                          <td class="tg-9ge1">
                            <span>44(85)</span></td>
                          <td class="tg-tiu0">
                            <span>2</span></td>
                          <td class="tg-9ge1">
                            <span>44</span></td>
                          <td class="tg-tiu0">
                            <span>4-6</span></td>
                          <td class="tg-9ge1">
                            <span>34</span></td>
                          <td class="tg-tiu0">
                            <span>80</span></td>
                          <td class="tg-9ge1">
                            <span>34</span></td>
                        </tr>
                        <tr>
                          <td class="tg-0lax">S</td>
                          <td class="tg-9ge1">
                            <span>55(90)</span></td>
                          <td class="tg-tiu0">
                            <span>4</span></td>
                          <td class="tg-9ge1">
                            <span>55</span></td>
                          <td class="tg-tiu0">
                            <span>8-10</span></td>
                          <td class="tg-9ge1">
                            <span>36, 44</span></td>
                          <td class="tg-tiu0">
                            <span>90</span></td>
                          <td class="tg-9ge1">
                            <span>36</span></td>
                        </tr>
                        <tr>
                          <td class="tg-0lax">M</td>
                          <td class="tg-9ge1">
                            <span>66(95)</span></td>
                          <td class="tg-tiu0">
                            <span>6</span></td>
                          <td class="tg-9ge1">
                            <span>66</span></td>
                          <td class="tg-tiu0">
                            <span>10-12</span></td>
                          <td class="tg-9ge1">
                            <span>38, 48</span></td>
                          <td class="tg-tiu0">
                            <span>95</span></td>
                          <td class="tg-9ge1">
                            <span>38</span></td>
                        </tr>
                        <tr>
                          <td class="tg-0lax">L</td>
                          <td class="tg-9ge1">
                            <span>77(100)</span></td>
                          <td class="tg-tiu0">
                            <span>8</span></td>
                          <td class="tg-9ge1">
                            <span>77</span></td>
                          <td class="tg-tiu0">
                            <span>16-18</span></td>
                          <td class="tg-9ge1">
                            <span>40, 42</span></td>
                          <td class="tg-tiu0">
                            <span>100</span></td>
                          <td class="tg-9ge1">
                            <span>40</span></td>
                        </tr>
                        <tr>
                          <td class="tg-0lax">XL</td>
                          <td class="tg-9ge1">
                            <span>88(105)</span></td>
                          <td class="tg-tiu0">
                            <span>10</span></td>
                          <td class="tg-9ge1">
                            <span>88L</span></td>
                          <td class="tg-tiu0">
                            <span>20-22</span></td>
                          <td class="tg-9ge1">
                            <span>44, 46, 48</span></td>
                          <td class="tg-tiu0">
                            <span>105</span></td>
                          <td class="tg-9ge1">
                            <span>42</span></td>
                        </tr>
                        <tr>
                          <td class="tg-0lax">XXL</td>
                          <td class="tg-9ge1">
                            <span>110</span></td>
                          <td class="tg-tiu0">
                            <span>12</span></td>
                          <td class="tg-9ge1">
                            <span>-</span></td>
                          <td class="tg-tiu0">
                            <span>-</span></td>
                          <td class="tg-9ge1">
                            <span>50, 52, 54</span></td>
                          <td class="tg-tiu0">
                            <span>110</span></td>
                          <td class="tg-9ge1">
                            <span>44</span></td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
              <div id="sizeContainer-bottom" class="hidden">
                <div id="sizeContent-bottom">
                  <div class="flex-row-notwrap modal-title">
                    <p></p>
                    <div>BOTTOM SIZE</div>
                    <a id="sizeCloseButton-bottom">
                      <p>X</p>
                    </a>
                  </div>
                  <div id="tab-2">
                    <div class="gender-title">MAN</div>
                    <table class="tg">
                      <thead>
                        <tr>
                          <th class="tg-cly1">
                            <span>SIZE</span></th>
                          <th class="tg-cly1">
                            <span>XXS</span></th>
                          <th class="tg-cly1">
                            <span>XS</span></th>
                          <th class="tg-cly1">
                            <span>S</span></th>
                          <th class="tg-cly1">
                            <span>M</span></th>
                          <th class="tg-cly1">
                            <span>L</span></th>
                          <th class="tg-cly1">
                            <span>XL</span></th>
                          <th class="tg-cly1">
                            <span>2XL</span></th>
                          <th class="tg-cly1">
                            <span>3XL</span></th>
                          <th class="tg-cly1">
                            <span>4XL</span></th>
                          <th class="tg-cly1">
                            <span>5XL</span></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="tg-cly1">
                            <span>WAIST(cm)</span></td>
                          <td class="tg-cly2">&lt; 67</td>
                          <td class="tg-cly2">
                            <span>67 - 73</span></td>
                          <td class="tg-cly2">73 - 79</td>
                          <td class="tg-cly2">
                            <span>79 - 85</span></td>
                          <td class="tg-cly2">85 - 91</td>
                          <td class="tg-cly2">
                            <span>91 - 97</span></td>
                          <td class="tg-cly2">97 - 104</td>
                          <td class="tg-cly2">
                            <span>104 - 112</span></td>
                          <td class="tg-cly2">112 - 120</td>
                          <td class="tg-cly2">
                            <span>120+</span></td>
                        </tr>
                        <tr>
                          <td class="tg-cly1">
                            <span>HIP(cm)</span></td>
                          <td class="tg-cly2">&lt; 81.5</td>
                          <td class="tg-cly2">
                            <span>81.5 - 86.5</span></td>
                          <td class="tg-cly2">86.5 - 91.5</td>
                          <td class="tg-cly2">
                            <span>91.5 - 96.5</span></td>
                          <td class="tg-cly2">96.5 - 101.5</td>
                          <td class="tg-cly2">
                            <span>101.5 - 106.5</span></td>
                          <td class="tg-cly2">106.5 - 112</td>
                          <td class="tg-cly2">
                            <span>112 - 118</span></td>
                          <td class="tg-cly2">118 - 123</td>
                          <td class="tg-cly2">
                            <span>123+</span></td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="gender-title">WOMAN</div>

                    <table class="tg">
                      <thead>
                        <tr>
                          <th class="tg-203s">
                            <span>SIZE</span></th>
                          <th class="tg-81wz">XXS</th>
                          <th class="tg-81wz">
                            <span>XS</span></th>
                          <th class="tg-81wz">S</th>
                          <th class="tg-81wz">
                            <span>M</span></th>
                          <th class="tg-81wz">L</th>
                          <th class="tg-81wz">
                            <span>XL</span></th>
                          <th class="tg-81wz">2XL</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="tg-81wz">
                            <span>KOR SIZE</span></td>
                          <td class="tg-81wn">-</td>
                          <td class="tg-81wn">
                            <span>60</span></td>
                          <td class="tg-81wn">65</td>
                          <td class="tg-81wn">
                            <span>70</span></td>
                          <td class="tg-81wn">75</td>
                          <td class="tg-81wn">
                            <span>80</span></td>
                          <td class="tg-81wn">85</td>
                        </tr>
                        <tr>
                          <td class="tg-81wz">
                            <span>WAIST(cm)</span></td>
                          <td class="tg-81wn">62.5 - 65.5</td>
                          <td class="tg-81wn">
                            <span>65.5 - 68.5</span></td>
                          <td class="tg-81wn">68.5 - 71.5</td>
                          <td class="tg-81wn">
                            <span>71.5 - 75.5</span></td>
                          <td class="tg-81wn">75.5 - 80.5</td>
                          <td class="tg-81wn">
                            <span>80.5 - 85.5</span></td>
                          <td class="tg-81wn">85.5 - 90.5</td>
                        </tr>
                        <tr>
                          <td class="tg-81wz">
                            <span>HIP(cm)</span></td>
                          <td class="tg-81wn">83.5 - 86.5</td>
                          <td class="tg-81wn">
                            <span>86.5 - 89.5</span></td>
                          <td class="tg-81wn">89.5 - 92.5</td>
                          <td class="tg-81wn">
                            <span>92.5 - 96.5</span></td>
                          <td class="tg-81wn">96.5 - 101.5</td>
                          <td class="tg-81wn">
                            <span>101.5 - 106.5</span></td>
                          <td class="tg-81wn">106.5 - 111.5</td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
              <div id="sizeContainer-shoes" class="hidden">
                <div id="sizeContent-shoes">
                  <div class="flex-row-notwrap modal-title">
                    <p></p>
                    <div>SHOES SIZE</div>
                    <a id="sizeCloseButton-shoes">
                      <p>X</p>
                    </a>
                  </div>
                  <div id="tab-3">
                    <table class="tg">

                      <tr>
                        <th class="tg-baqh" colspan="2">KR(mm)</th>
                        <th class="tg-9ge1">
                          <span>220</span></th>
                        <th class="tg-9ge1">
                          <span>225</span></th>
                        <th class="tg-9ge1">
                          <span>230</span></th>
                        <th class="tg-9ge1">
                          <span>235</span></th>
                        <th class="tg-9ge1">
                          <span>240</span></th>
                        <th class="tg-9ge1">
                          <span>245</span></th>
                        <th class="tg-9ge1">
                          <span>250</span></th>
                        <th class="tg-9ge1">
                          <span>255</span></th>
                        <th class="tg-9ge1">
                          <span>260</span></th>
                        <th class="tg-9ge1">
                          <span>265</span></th>
                        <th class="tg-9ge1">
                          <span>270</span></th>
                        <th class="tg-9ge1">
                          <span>275</span></th>
                        <th class="tg-9ge1">
                          <span>280</span></th>
                        <th class="tg-9ge1">
                          <span>285</span></th>
                        <th class="tg-9ge1">
                          <span>290</span></th>
                        <th class="tg-9ge1">
                          <span>295</span></th>
                        <th class="tg-9ge1">
                          <span>300</span></th>
                        <th class="tg-9ge1">
                          <span>305</span></th>
                        <th class="tg-9ge1">
                          <span>310</span></th>
                        <th class="tg-9ge1">
                          <span>315</span></th>
                        <th class="tg-9ge1">
                          <span>320</span></th>
                      </tr>

                      <tr>
                        <td class="tg-baqh" colspan="2">JP(cm)</td>
                        <td class="tg-9ge1">
                          <span>22</span></td>
                        <td class="tg-9ge1">
                          <span>22.5</span></td>
                        <td class="tg-9ge1">
                          <span>23</span></td>
                        <td class="tg-9ge1">
                          <span>23.5</span></td>
                        <td class="tg-9ge1">
                          <span>24</span></td>
                        <td class="tg-9ge1">
                          <span>24.5</span></td>
                        <td class="tg-9ge1">
                          <span>25</span></td>
                        <td class="tg-9ge1">
                          <span>25.5</span></td>
                        <td class="tg-9ge1">
                          <span>26</span></td>
                        <td class="tg-9ge1">
                          <span>26.5</span></td>
                        <td class="tg-9ge1">
                          <span>27</span></td>
                        <td class="tg-9ge1">
                          <span>27.5</span></td>
                        <td class="tg-9ge1">
                          <span>28</span></td>
                        <td class="tg-9ge1">
                          <span>28.5</span></td>
                        <td class="tg-9ge1">
                          <span>29</span></td>
                        <td class="tg-9ge1">
                          <span>29.5</span></td>
                        <td class="tg-9ge1">
                          <span>30</span></td>
                        <td class="tg-9ge1">
                          <span>30.5</span></td>
                        <td class="tg-9ge1">
                          <span>31</span></td>
                        <td class="tg-9ge1">
                          <span>31.5</span></td>
                        <td class="tg-9ge1">
                          <span>32</span></td>
                      </tr>
                      <tr>
                        <td class="tg-baqh" rowspan="2">International</td>
                        <td class="tg-baqhc">Male</td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1" colspan="2">
                          <span>XXXS</span></td>
                        <td class="tg-9ge1" colspan="2">
                          <span>XXS</span></td>
                        <td class="tg-9ge1" colspan="2">
                          <span>XS</span></td>
                        <td class="tg-9ge1" colspan="2">
                          <span>S</span></td>
                        <td class="tg-9ge1" colspan="2">
                          <span>M</span></td>
                        <td class="tg-9ge1" colspan="2">
                          <span>L</span></td>
                        <td class="tg-9ge1" colspan="2">
                          <span>XL</span></td>
                        <td class="tg-9ge1" colspan="2">
                          <span>XXL</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                      </tr>
                      <tr>
                        <td class="tg-baqhc">Female</td>
                        <td class="tg-9ge1" colspan="2">
                          <span>XXXS</span></td>
                        <td class="tg-9ge1" colspan="2">
                          <span>XXS</span></td>
                        <td class="tg-9ge1" colspan="2">
                          <span>XS</span></td>
                        <td class="tg-9ge1" colspan="2">
                          <span>S</span></td>
                        <td class="tg-9ge1" colspan="2">
                          <span>M</span></td>
                        <td class="tg-9ge1" colspan="2">
                          <span>L</span></td>
                        <td class="tg-9ge1" colspan="2">
                          <span>XL</span></td>
                        <td class="tg-9ge1" colspan="2">
                          <span>XXL</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                      </tr>
                      <tr>
                        <td class="tg-baqh" rowspan="2">US</td>
                        <td class="tg-baqhc">Male</td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>6</span></td>
                        <td class="tg-9ge1">
                          <span>6.5</span></td>
                        <td class="tg-9ge1">
                          <span>7</span></td>
                        <td class="tg-9ge1">
                          <span>7.5</span></td>
                        <td class="tg-9ge1">
                          <span>8</span></td>
                        <td class="tg-9ge1">
                          <span>8.5</span></td>
                        <td class="tg-9ge1">
                          <span>9</span></td>
                        <td class="tg-9ge1">
                          <span>9.5</span></td>
                        <td class="tg-9ge1">
                          <span>10</span></td>
                        <td class="tg-9ge1">
                          <span>10.5</span></td>
                        <td class="tg-9ge1">
                          <span>11</span></td>
                        <td class="tg-9ge1">
                          <span>11.5</span></td>
                        <td class="tg-9ge1">
                          <span>12</span></td>
                        <td class="tg-9ge1">
                          <span>12.5</span></td>
                        <td class="tg-9ge1">
                          <span>13</span></td>
                        <td class="tg-9ge1">
                          <span>13.5</span></td>
                        <td class="tg-9ge1">
                          <span>14</span></td>
                      </tr>
                      <tr>
                        <td class="tg-baqhc">Female</td>
                        <td class="tg-9ge1">
                          <span>5</span></td>
                        <td class="tg-9ge1">
                          <span>5.5</span></td>
                        <td class="tg-9ge1">
                          <span>6</span></td>
                        <td class="tg-9ge1">
                          <span>6.5</span></td>
                        <td class="tg-9ge1">
                          <span>7</span></td>
                        <td class="tg-9ge1">
                          <span>7.5</span></td>
                        <td class="tg-9ge1">
                          <span>8</span></td>
                        <td class="tg-9ge1">
                          <span>8.5</span></td>
                        <td class="tg-9ge1">
                          <span>9</span></td>
                        <td class="tg-9ge1">
                          <span>9.5</span></td>
                        <td class="tg-9ge1">
                          <span>10</span></td>
                        <td class="tg-9ge1">
                          <span>10.5</span></td>
                        <td class="tg-9ge1">
                          <span>11</span></td>
                        <td class="tg-9ge1">
                          <span>11.5</span></td>
                        <td class="tg-9ge1">
                          <span>12</span></td>
                        <td class="tg-9ge1">
                          <span>12.5</span></td>
                        <td class="tg-9ge1">
                          <span>13</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                      </tr>
                      <tr>
                        <td class="tg-baqh" rowspan="2">UK</td>
                        <td class="tg-baqhc">Male</td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>5</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>6</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>7</span></td>
                        <td class="tg-9ge1">
                          <span>7.5</span></td>
                        <td class="tg-9ge1">
                          <span>8</span></td>
                        <td class="tg-9ge1">
                          <span>8.5</span></td>
                        <td class="tg-9ge1">
                          <span>9</span></td>
                        <td class="tg-9ge1">
                          <span>9.5</span></td>
                        <td class="tg-9ge1">
                          <span>10</span></td>
                        <td class="tg-9ge1">
                          <span>10.5</span></td>
                        <td class="tg-9ge1">
                          <span>11</span></td>
                        <td class="tg-9ge1">
                          <span>11.5</span></td>
                        <td class="tg-9ge1">
                          <span>12</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>13</span></td>
                      </tr>
                      <tr>
                        <td class="tg-baqhc">Female</td>
                        <td class="tg-9ge1">
                          <span>3</span></td>
                        <td class="tg-9ge1">
                          <span>3.5</span></td>
                        <td class="tg-9ge1">
                          <span>4</span></td>
                        <td class="tg-9ge1">
                          <span>4.5</span></td>
                        <td class="tg-9ge1">
                          <span>5</span></td>
                        <td class="tg-9ge1">
                          <span>5.5</span></td>
                        <td class="tg-9ge1">
                          <span>6</span></td>
                        <td class="tg-9ge1">
                          <span>6.5</span></td>
                        <td class="tg-9ge1">
                          <span>7</span></td>
                        <td class="tg-9ge1">
                          <span>7.5</span></td>
                        <td class="tg-9ge1">
                          <span>8</span></td>
                        <td class="tg-9ge1">
                          <span>8.5</span></td>
                        <td class="tg-9ge1">
                          <span>9</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                      </tr>
                      <tr>
                        <td class="tg-baqh" rowspan="2">EU</td>
                        <td class="tg-baqhc">Male</td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>38</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>39</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>40.5</span></td>
                        <td class="tg-9ge1">
                          <span>41</span></td>
                        <td class="tg-9ge1">
                          <span>42</span></td>
                        <td class="tg-9ge1">
                          <span>42.5</span></td>
                        <td class="tg-9ge1">
                          <span>43</span></td>
                        <td class="tg-9ge1">
                          <span>44</span></td>
                        <td class="tg-9ge1">
                          <span>44.5</span></td>
                        <td class="tg-9ge1">
                          <span>45.5</span></td>
                        <td class="tg-9ge1">
                          <span>46</span></td>
                        <td class="tg-9ge1">
                          <span>46.5</span></td>
                        <td class="tg-9ge1">
                          <span>47</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>48</span></td>
                      </tr>
                      <tr>
                        <td class="tg-baqhc">Female</td>
                        <td class="tg-9ge1">
                          <span>36</span></td>
                        <td class="tg-9ge1">
                          <span>36.5</span></td>
                        <td class="tg-9ge1">
                          <span>37</span></td>
                        <td class="tg-9ge1">
                          <span>37.5</span></td>
                        <td class="tg-9ge1">
                          <span>38</span></td>
                        <td class="tg-9ge1">
                          <span>38.5</span></td>
                        <td class="tg-9ge1">
                          <span>39</span></td>
                        <td class="tg-9ge1">
                          <span>39.5</span></td>
                        <td class="tg-9ge1">
                          <span>40</span></td>
                        <td class="tg-9ge1">
                          <span>40.5</span></td>
                        <td class="tg-9ge1">
                          <span>41</span></td>
                        <td class="tg-9ge1">
                          <span>41.5</span></td>
                        <td class="tg-9ge1">
                          <span>42</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                        <td class="tg-9ge1">
                          <span>-</span></td>
                      </tr>

                    </table>

                  </div>
                </div>
              </div>
              <p class="indentation">
                <label for="id_top" class="label-title">Top</label>
                <a id="sizeOpenButton-top">
                  Size check
                </a>
                <select name="top" class="form-control" id="id_top">
                  <option value="" selected="">---------</option>

                  <option value="f-nike-dri-fit-xs">WOMAN | Size : XS</option>
                  <option value="f-nike-dri-fit-s">WOMAN | Size : S</option>
                  <option value="f-nike-dri-fit-m">WOMAN | Size : M</option>
                  <option value="f-nike-dri-fit-l">WOMAN | Size : L</option>
                  <option value="f-nike-dri-fit-xl">WOMAN | Size : XL</option>
                  <option value="f-nike-dri-fit-xxl">WOMAN | Size : XXL</option>
                  <option value="m-nike-dri-fit-legend-xs">MAN | Size : XS</option>
                  <option value="m-nike-dri-fit-legend-s">MAN | Size : S</option>
                  <option value="m-nike-dri-fit-legend-m">MAN | Size : M</option>
                  <option value="m-nike-dri-fit-legend-l">MAN | Size : L</option>
                  <option value="m-nike-dri-fit-legend-xl">MAN | Size : XL</option>
                  <option value="m-nike-dri-fit-legend-xxl">MAN | Size : XXL</option>

                </select>

              </p>
              <div class='depart-items'></div>
              <p class="indentation">
                <label for="id_bottom" class="label-title">Bottom</label>
                <a id="sizeOpenButton-bottom">
                  Size check
                </a>
                <select name="bottom" class="form-control" id="id_bottom">
                  <option value="" selected="">---------</option>
                  <option value="f-nike-sportswear-ever-xs">WOMAN | Size : XS</option>
                  <option value="f-nike-sportswear-ever-s">WOMAN | Size : S</option>
                  <option value="f-nike-sportswear-ever-m">WOMAN | Size : M</option>
                  <option value="f-nike-sportswear-ever-l">WOMAN | Size : L</option>
                  <option value="f-nike-sportswear-ever-xl">WOMAN | Size : XL</option>
                  <option value="f-nike-sportswear-ever-xxl">WOMAN | Size : XXL</option>
                  <option value="m-nike-dri-fit-academy-xs">MAN | Size : XS</option>
                  <option value="m-nike-dri-fit-academy-s">MAN | Size : S</option>
                  <option value="m-nike-dri-fit-academy-m">MAN | Size : M</option>
                  <option value="m-nike-dri-fit-academy-l">MAN | Size : L</option>
                  <option value="m-nike-dri-fit-academy-xl">MAN | Size : XL</option>
                  <option value="m-nike-dri-fit-academy-xxl">MAN | Size : XXL</option>

                </select>

              </p>
              <div class='depart-items'></div>
              <p class="indentation">
                <label for="id_shoes" class="label-title">Running Shoes</label>
                <a id="sizeOpenButton-shoes">
                  Size check
                </a>
                <select name="shoes" class="form-control" id="id_shoes">
                  <option value="" selected="">---------</option>
                  <option value="nike-revolution-7-220">KR | Size : 220mm</option>
                  <option value="nike-revolution-7-225">KR | Size : 225mm</option>
                  <option value="nike-revolution-7-230">KR | Size : 230mm</option>
                  <option value="nike-revolution-7-235">KR | Size : 235mm</option>
                  <option value="nike-revolution-7-240">KR | Size : 240mm</option>
                  <option value="nike-revolution-7-245">KR | Size : 245mm</option>
                  <option value="nike-revolution-7-250">KR | Size : 250mm</option>
                  <option value="nike-revolution-7-255">KR | Size : 255mm</option>
                  <option value="nike-revolution-7-260">KR | Size : 260mm</option>
                  <option value="nike-revolution-7-265">KR | Size : 265mm</option>
                  <option value="nike-revolution-7-270">KR | Size : 270mm</option>
                  <option value="nike-revolution-7-275">KR | Size : 275mm</option>
                  <option value="nike-revolution-7-280">KR | Size : 280mm</option>
                  <option value="nike-revolution-7-285">KR | Size : 285mm</option>
                  <option value="nike-revolution-7-290">KR | Size : 290mm</option>
                  <option value="nike-revolution-7-295">KR | Size : 295mm</option>
                  <option value="nike-revolution-7-300">KR | Size : 300mm</option>
                </select>
              </p>
              <div class='depart-items'></div>
              <p class="indentation">
                <label for="id_bag" class="label-title">Phone Pouch</label>
                <select name="bag" class="form-control" id="id_bag">
                  <option value="" selected="">---------</option>
                  <option value="nike-fanny-pack">Nike Fanny Pack</option>
                  <option value="Pocket Arm Band Plus">Pocket Arm Band Plus</option>
                </select>

              </p>
              <div class='depart-items'></div>

              <div class="label-head">Please upload a profile image if you want.</div>
              <div class="label-space"></div>
              <p class="indentation">
                <label for="image_field" class="label-title">Click the button below</label>
                <input type="file" name="image" id="image_field" class="form-control" accept="image/*">

              </p>
              <div class="label-head">Feel free to write anything you would like to say.</div>
              <div class="label-space"></div>
              <p class="indentation">
                <label for="id_desc" class="label-title">Note</label>
                <textarea name="desc" cols="35" rows="10" class="form-control" id="id_desc">-</textarea>

              </p>
              <div style="height:20px;"></div>
              <div style="margin:auto;" class="tocenter">
                <button type="submit" style="width:200px; display:flex; " class="tocenter card-button">
                  Submit
                </button>
              </div>
            </form>

          </div>
          <div style="display:flex;">
            <div style="margin-left:auto;" class="tocenter">
              <a href="{% url "reservation:book" %}">
                <button style="width:200px; height:40px;" class="card-button">Previous</button>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- mobile nav modal hedden-->
  <div id="modalContainer" class="hidden">
    <div id="modalContent">
      <div class="mobile-nav-up">
        <div class='mobile-nav-top'>
          <a href="{% url "reservation:index" %}">
            <img style="width:120px; " src="{% static 'img/sterun-logo-3.png' %}" alt=""/>
          </a>
          <i class="fa solid fa-x" id="modalCloseButton"></i>
        </div>
        <a style="border-top:1px solid blue;" class='modal-list' href="{% url "reservation:sterna" %}">
          <li>HOME</li>
        </a>
        <a class='modal-list' href="{% url "reservation:book" %}">
          <li>RESERVATION</li>
        </a>
        <a class='modal-list' href="{% url "reservation:check" %}">
          <li>MY PAGE</li>
        </a>
      </div>

      <div class='mobile-nav-bottom'>

        <ul class="modal-sns">
          <li class="modal-sns-list">
            <a href="https://www.instagram.com/sterun.kr/" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li class="modal-sns-list">
            <a href="https://www.x.com/Jason9835958008" target="_blank">
              <i class="fa-brands fa-x-twitter"></i>
            </a>
          </li>
          <li class="modal-sns-list">
            <!--a href="https://www.youtube.com" target="_blank"> <i class="fab fa-youtube"></i> </a-->
            <a href="{% url "reservation:contact" %}">
              <p class="contact-button-nav">CONTACT</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <script src="https://kit.fontawesome.com/2f3227cf14.js" crossorigin="anonymous"></script>
  <script src="{% static "js/main.js" %}"></script>
  <!--jquery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script>
    // 등장액션 대상: .showBx
    const showBox = document.querySelectorAll(".showBox");
    const fadeIn = document.querySelectorAll(".fade-in-long");
    // 화면높이값 2/3 구하기
    const screenH = window.innerHeight * 9 / 10;

    // 등장액션 대상 위치값 리턴함수
    const retVal = ele => ele
      .getBoundingClientRect()
      .top;

    // 클래스 넣기 함수
    const showTit = x => {
      let xval = retVal(x);
      if (xval < screenH && xval > 0) {
        // 요소가 화면에 나타날 때 opacity를 1로 변경
        x
          .classList
          .add("on");
      }
    };

    const fadeInTit = y => {
      let yval = retVal(y);
      // 요소가 화면에 나타날 때 opacity를 1로 변경
      y
        .classList
        .add("on");
    }

    for (let y of fadeIn) 
      fadeInTit(y);
    
    window.addEventListener("scroll", () => {
      // 스크롤 등장요소 개수만큼 for문 돌리기
      for (let x of showBox) 
        showTit(x);
      }
    );

    const sizeOpenButton_top = document.getElementById('sizeOpenButton-top');
    const sizeOpenButton_bottom = document.getElementById('sizeOpenButton-bottom');
    const sizeOpenButton_shoes = document.getElementById('sizeOpenButton-shoes');
    const sizeCloseButton_top = document.getElementById('sizeCloseButton-top');
    const sizeCloseButton_bottom = document.getElementById('sizeCloseButton-bottom');
    const sizeCloseButton_shoes = document.getElementById('sizeCloseButton-shoes');
    const size_top = document.getElementById('sizeContainer-top');
    const size_bottom = document.getElementById('sizeContainer-bottom');
    const size_shoes = document.getElementById('sizeContainer-shoes');

    sizeOpenButton_top.addEventListener('click', () => {
      size_top
        .classList
        .remove('hidden');
    });
    sizeOpenButton_bottom.addEventListener('click', () => {
      size_bottom
        .classList
        .remove('hidden');
    });
    sizeOpenButton_shoes.addEventListener('click', () => {
      size_shoes
        .classList
        .remove('hidden');
    });

    sizeCloseButton_top.addEventListener('click', () => {
      size_top
        .classList
        .add('hidden');
    });
    sizeCloseButton_bottom.addEventListener('click', () => {
      size_bottom
        .classList
        .add('hidden');
    });
    sizeCloseButton_shoes.addEventListener('click', () => {
      size_shoes
        .classList
        .add('hidden');
    });
  </script>
</body>
<footer>
  <div class="tocenter">
    <div class="depart-line"></div>
  </div>
  <div class="footer_div">
    <div>
      <p class="footer_line">JoolLab | 줄랩 | Leader : Hyunwoo Kim</p>
      <p class="footer_line">Business ID : 189-12-02532
      </p>
      <p class="footer_line">Address : 78, Jungdong-ro 254beon-gil, Republic of Korea</p>
    </div>
    <div style="height:20px;"></div>
    <div>
      <p class="footer_line">Copyright © 2024 joolLab All rights reserved</p>
      <div>
        <!--p class="footer_line"> <a href="{% url "reservation:use" %}">Terms of Use</a> | <a href="{% url "reservation:policy" %}">Privacy Policy</a> | <a href="{% url "reservation:cs" %}">Customer Service</a> </p-->
      </div>
    </div>
  </div>
</footer>

</html>
