:root {
    --sterun-primary-color: #fbff00;
    --sterun-secondary-color: #3A3A3A;
    --sterun-thirdary-color: #4467AF;
    --sterun-white-color: #FCF6F5;
    --sterun-black-color: #1d1d1d;
    --sterun-grey-color: #E8E8E8;
}

html,body {
    min-height: 100%;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* table */

table {
  border-collapse: collapse;
}

td, th{
    font-weight: 500;
    padding:5px;
    text-align: center;
    border:solid 1px black;
}

.formstyle{
    min-width: 700px;
    background-color: white;
    padding-bottom:30px;
}

.form-box{
    padding:20px 50px 20px 50px;
}

.label-head{
    font-size:1.2rem;
    font-weight:bold;
    padding:30px 0 0 0;
}

.label-sub{
    font-size:0.8rem;
    color:red;
}

.label-space{
    height:20px;
}

.label-title{
    font-size:0.8rem;

}

.depart-sec{
    height: 20px;
}

.depart-items{
    height:10px;
}

.forced::after{
    content:"*";
    font-size:0.7rem;
    color:rgb(255, 0, 0);
}

.form-control {
    transition: 300ms;
    display: flex;
    border: 1px solid var(--sterun-secondary-color);
    border-radius: 5px;
    height: 2rem;
    padding-left: 5px;
}

.form-control:focus{
    box-shadow: 0 0 0 1px var(--sterun-thirdary-color) inset;
    background-color: var(--sterun-grey-color);
}

.form-control-date {
    margin:5px 0 15px 0;
    display: flex;
    border: 1px solid;
    border-radius: 5px;
    padding:5px 10px 5px 10px;
}

.form-control-time {
    margin:5px 0 15px 0;
    display: flex;
    border: 1px solid;
    border-radius: 5px;
    padding:5px 10px 5px 10px;
}

.background-wrap{
    background-image: url('/static/img/running-2.jpg');
    background-size: cover;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  color:white;
  font-size: 1.7rem;
  font-weight: bold;
}

.indentation{
    padding-left:10px;
}

.gender-title{
    font-size:1.2rem;
    font-weight: 700;
    padding: 20px 0 5px 0;
}

#sizeOpenButton-top, #sizeOpenButton-bottom, #sizeOpenButton-shoes{
    font-size: 0.7rem;
    line-height: 0.7rem;
    cursor: pointer;
    border:1px dotted var(--sterun-secondary-color);
    padding:0 5px 0 5px;
    margin:0 0 2px 3px;
    color: blue;
    border-radius: 10px;
}

#sizeCloseButton-top, #sizeCloseButton-bottom, #sizeCloseButton-shoes{
    cursor: pointer;
    font-weight: bold;
    padding-right:5px;
}

#sizeContainer-top{
    z-index: 10000000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

#sizeContainer-bottom{
    z-index: 10000000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

#sizeContainer-shoes{
    z-index: 10000000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

#sizeContent-top {
  position: absolute;
  background-color: #ffffff;
  width: 700px;
  max-height: 400px;
  border-radius: 20px;
}
#sizeContent-bottom {
  position: absolute;
  background-color: #ffffff;
  width: 700px;
  max-height: 400px;
  border-radius: 20px;
}
#sizeContent-shoes {
  position: absolute;
  background-color: #ffffff;
  width: 700px;
  max-height: 400px;
  border-radius: 20px;
}

#sizeContainer-top.hidden {
  display: none;
}

#sizeContainer-bottom.hidden {
  display: none;
}
#sizeContainer-shoes.hidden {
  display: none;
}

#tab-1, #tab-2, #tab-3{
    max-height: 350px;
    overflow: scroll;
    padding: 10px 0 40px 10px;
    border-radius: 20px;
}

.modal-title{
    font-weight: bold;
    padding:10px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--sterun-primary-color)
}

#id_client{
    width:200px;
    padding-left: 5px;
    margin-right: 20px;
}
#id_contact{
    width:300px;
    padding-left: 5px;
}
#id_top{
    width:auto;
}
#id_bottom{
    width:auto;
}
#id_shoes{
    width:auto;
}
#id_bag{
    width: auto;
}
#id_location{
    width:90%;
}
#id_desc{
    width: 580px;
    height: 200px;
    padding-left:5px;
}



/* Input box id */

  /* Mobile Env. */
@media (max-width:700px) {

    * { 
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .formstyle{
        min-width: auto;
    }

    .flex-row-start{
        flex-direction: column;
    }

    .form-box{
        padding: 0;
    }

    .form-control{
        width:100%;
    }

    .label-head{
        padding:15px 0 7px 5px;
    }

    .modal-title{
        border-radius: 0;
    }

    .gender-title{
        padding-left: 10px;
    }

    .tg{
        margin-left:10px;
        font-size:0.7rem;
    }

    #sizeContent-top {
        width:100%;
        border-radius: 0;
    }
    #sizeContent-bottom {
        width:100%;
        border-radius: 0;
    }
    #sizeContent-shoes {
        width:100%;
        border-radius: 0;
    }

    #id_client{
        width:100px;
        padding-left: 5px;
    }
    #id_contact{
        width:200px;
        padding-left: 5px;
    }
    #id_top{
        width:auto;
    }
    #id_bottom{
        width:auto;
    }
    #id_shoes{
        width:auto;
    }
    #id_bag{
        width: auto;
    }
    #id_location{
        width:90%;
    }
    #id_desc{
        width:95%;
        padding-left:5px;
    }

    .label-sub{
        padding-left: 7px;
    }

    .card-button{
        margin-bottom: 10px;
    }

}


/*  Table Style   */

/*top*/
.tg-0lax{
    position:sticky;
    font-weight: bold;
    background-color: var(--sterun-grey-color);
}
.tg-f4yw{
    font-weight: bold;
    background-color: var(--sterun-grey-color);
}
.tg-vbs7{
    font-weight: bold;
    background-color: var(--sterun-grey-color);
}

/*shoes*/
.tg-baqh, .tg-baqhc{
    position:sticky;
    font-weight: bold;
    background-color: var(--sterun-grey-color);
}

/*bottom*/
.tg-cly1{
    font-weight: bold;
    background-color: var(--sterun-grey-color);
}
.tg-203s{
    font-weight: bold;
    background-color: var(--sterun-grey-color);
}
.tg-81wz{
    font-weight: bold;
    background-color: var(--sterun-grey-color);
}