:root {
  --text-color: #FCF6F5;
  --background-color: #1C06FF;
  --accent-color: #FCF6F5;
  --white-color:#FCF6F5;
  --text-color-black: #1d1d1d;
  --line-color: #FCF6F5;
  --nav-text-color: #1C06FF;
  --nav-bg-color: #CDFF06;
}

@font-face {
  font-family: 'SCDream';
  src: url('../font/SCDream1.otf');
  font-weight: 100;
}
@font-face {
  font-family: 'SCDream';
  src: url('../font/SCDream2.otf');
  font-weight: 200;
}
@font-face {
  font-family: 'SCDream';
  src: url('../font/SCDream3.otf');
  font-weight: 300;
}
@font-face {
  font-family: 'SCDream4';
  src: url('../font/SCDream4.otf');
  font-weight: 400;
}
@font-face {
  font-family: 'SCDream5';
  src: url('../font/SCDream5.otf');
  font-weight: 500;
}
@font-face {
  font-family: 'SCDream';
  src: url('../font/SCDream6.otf');
  font-weight: 600;
}
@font-face {
  font-family: 'SCDream';
  src: url('../font/SCDream7.otf');
  font-weight: 700;
}
@font-face {
  font-family: 'SCDream';
  src: url('../font/SCDream8.otf');
  font-weight: 800;
}
@font-face {
  font-family: 'SCDream';
  src: url('../font/SCDream9.otf');
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
  font-family: "SCDream";
}

html, body {
  margin-top:100px;
  min-height: 100%;
  margin: 0;
}

a {
  color: var(--text-color-black);
  text-decoration: none;
}

/* Button Style Start */

/* Winona */
.button--winona {
  overflow: hidden;
  padding: 0;
  -webkit-transition: border-color 0.3s, background-color 0.3s;
  transition: border-color 0.3s, background-color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button--winona::after {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  color: #3f51b5;
  -webkit-transform: translate3d(0, 25%, 0);
  transform: translate3d(0, 25%, 0);
}

.button--winona>span {
  display: block;
}

.button--winona.button--inverted {
  color: #7986cb;
}

.button--winona.button--inverted:after {
  color: #fff;
}

.button--winona::after,
.button--winona>span {
  padding: 1em 2em;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button--winona:hover {
  border-color: #3f51b5;
  background-color: rgba(63, 81, 181, 0.1);
}

.button--winona.button--inverted:hover {
  border-color: #21333C;
  background-color: #21333C;
}

.button--winona:hover::after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.button--winona:hover>span {
  opacity: 0;
  -webkit-transform: translate3d(0, -25%, 0);
  transform: translate3d(0, -25%, 0);
}

/* Button Style end */

.hidden{
  display: none;
}

.tocenter{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.depart-line{
  height:2px;
  width: 150px;
  background-color: var(--background-color);
  margin: 0 0 20px 0;
}

.navbar {
  width:100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nav-bg-color);
  z-index: 100;
  border-bottom: solid 1px var(--nav-text-color);
}

.navbar-space{
  height: 100px;
}

.navbar_logo{
  margin:15px 0 15px 15px;
}

.navbar_menu {
  font-weight: 500;
  color:var(--nav-text-color);
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li {
  color:var(--nav-text-color);
  font-weight: 700;
  padding: 8px 25px;
}

.navbar_menu li a {
  color:var(--nav-text-color);
}

.active{
  display: block;
  content: '';
  border-bottom: solid 2px var(--white-color);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.navbar_menu_active li::after {
  display: block;
  content: '';
  border-bottom: solid 2px var(--white-color);
}

.navbar_menu li:hover::after{
  transform: scaleX(1)
}

.navbar_icons {
  display: flex;
  list-style: none;
  padding-left: 0;
  color:var(--nav-text-color);
}

.navbar_icons li {
  padding: 8px 12px 8px 12px;
}

.navbar_cons li a {
  color: var(--background-color)
}

.navbar_toggleBtn {
  display: none;
  position: absolute;
  top: 20px;
  right: 32px;
  font-size: 24px;
  color: var(--background-color);
}

.main-container{
  position:relative;
  height:100%;
  display: flex;
}

.main-img img{
  width:100%;
}

.main-text{
  font-size:5rem;
  font-weight: 700;
  color:var(--text-color);
  position:absolute;
  margin: 200px 0 0 30px; 
}

.word {
  width: 100%;
  color: white;
  font: 700 normal 1em 'tahoma';
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}

/* 텍스트 물컵 효과 */

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

.animation-text-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  position: relative;
}

.content h2 {
  color: #fff;
  font-size: 1em;
  position: absolute;
  
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

.content h2:nth-child(2) {
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {

  0%,
  100% {
    clip-path: polygon(0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%);
  }
}



/* 스와이프 */
.main-img-container{
  background-color: #03a9f4;
  width: 100%;
  height: 500px;
}

.main-img-container img{
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.hi {
  margin: 40px 0 10px 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-color-black);
}

.service-card-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.service-card{
  padding: 20px 10px 20px 10px;
  margin: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 3px var(--line-color);
  border-radius: 20px;
  width: 250px;
  background-color: ghostwhite;
}

.card-img {
  max-height: 180px;
  margin-bottom: 20px;
}

.card-title{
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-subtitle{
  font-size: 1.3rem;
  margin-bottom: 15px;
}

.card-desc{
  font-size:0.9rem;
  margin-bottom: 10px;
  padding: 0 10px 0 10px;
  min-height:3rem;
}

.card-button{
  font-weight: bold;
  transition: 0.2s;
  color:var(--nav-text-color);
  background-color: var(--nav-bg-color);
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  border: var(--background-color) solid 1px;
}

.card-button:hover{
  font-weight: bold;
  color:var(--accent-color);
  background-color: var(--background-color);
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
}

.form-group{
  display:flex;
}

.mb-12{
  display:flex;
}

.mb-10 {
  display: flex;
}

.col-md-6 {
  display: flex;
  flex-direction: column;
}

.form-control {
  display: flex;

}

.reserv-button{
  min-width:170px;
  transition: 0.3s;
  padding: 20px 30px 20px 30px;
  margin-top:20px;
  background-color: var(--nav-bg-color);
  border: solid 3px var(--nav-text-color);
  border-radius: 40px;
  color: var(--text-color-black);
  cursor: pointer;
  font-weight: 600;
}

.reserv-button:hover {
  transform:scale(1.2);
  margin-top:20px;
  background-color: var(--background-color);
  border: solid 3px var(--line-color);
  border-radius: 10px;
  color: var(--accent-color);
  cursor: pointer;
  font-weight: 600;
}

.footer_div{
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  width: 90%;
  height: 120px;
  position: absolute;
  background-color:var(--accent-color);
  padding: 20px 5% 20px 5%;
  font-size: 0.7rem;
}

.footer_line {
  line-height: 1.2rem;
  font-size: 0.7rem;
}

.container {
  max-height: 100%;
  padding-top:120px;
  max-width: 600px;
  margin: 0 auto;
}

div.tabs {  
  margin: 0px;
  padding: 0px;
  list-style: none;
}

div.tabs div {
  width: 33%;
  text-align: center;
  background: none;
  color: var(--text-color-black);
  display: inline-block;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

div.tabs div.current {
  width: 32%;
  text-align: center;
  background: var(--nav-bg-color);
  color: var(--nav-text-color);
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tab-content {
  display: none;
  background: white;
  padding: 15px;
  border-top: solid var(--nav-text-color) 2px;
}

.tab-content.current {
  display: inherit;
}

.search-bar {
  padding:10px;
  border: var(--nav-text-color) solid 1px;
  border-radius: 10px;
}


.contact {
  display:flex;
  flex-direction: column;
}

.contact-img {
  width: 2rem;
  height:2rem;
}

.contact-text {
  font-size: 1.3rem;
  line-height: 2rem;
}

.contact-button {
  display:flex;
  font-weight: bold;
  transition: 0.2s;
  color:var(--nav-text-color);
  background-color: var(--nav-bg-color);
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
  border: var(--background-color) solid 1px;
  cursor: pointer;
  }

.contact-button:hover {
  font-weight: bold;
  color: var(--accent-color);
  background-color: var(--background-color);
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
  cursor: pointer;
}

.policy-section {
  max-width: 600px;
  height: 300px;
  overflow: scroll;
  background-color: var(--accent-color);
  padding: 5px 10px 5px 10px;
}

.refund-section {
  max-width: 600px;
  height: 200px;
  overflow: scroll;
  background-color: var(--accent-color);
  padding: 5px 10px 5px 10px;
}

.policy-section>p {
  font-size:0.7rem; 
}

.refund-section>p {
  font-size: 0.7rem;
}

.policy-section>h5 {
  margin-top: 10px;
}

.refund-section>h6 {
  margin-top: 10px;
}

.check-box {
  padding: 5px 0 5px 0;
  background-color: var(--nav-bg-color);
  margin-bottom:30px; 
  text-align: center;
}

.reserv-label {
  width:5rem; 
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding-left:10px; 
}

.reserv-input {
  padding:3px 0 3px 10px;
  border: var(--nav-text-color) solid 1px;
  border-radius: 5px;
  width: 60%;  
}

.reserv-input-row {
  display:flex;
  margin:10px 0 10px 0;
}