{% load static %}
<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="#" />
  <link rel="icon" href="{% static 'img/favi16.png' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/style_mobile.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />

  <title>JOOL</title>

  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/css/bootstrap-datetimepicker.min.css"
    rel="stylesheet" />

</head>

<body>
  <nav class="navbar">
    <div class="navbar_logo">
      <a href="{% url "reservation:index" %}">
      <img style="width:100px;" src="{% static 'img/jool-logo.png' %}" alt="" />
      </a>
    </div>
    <ul class="navbar_menu">
      <li><a href="{% url "reservation:index" %}">HOME</a></li>
      <li><a href="{% url "reservation:info" %}">이용안내</a></li>
      <li>
        <a href="{% url "reservation:book" %}">예약</a>
      </li>
      <li><a href="{% url "reservation:check" %}">조회</a></li>
      <li><a href="{% url "reservation:contact" %}">연락하기</a></li>
    </ul>
    <ul class="navbar_icons">
      <li>
        <a href="https://www.instagram.com/joollab/"><i class="fab fa-instagram"></i></a>
      </li>
      <li>
        <a href="https://youtube.com"><i class="fab fa-youtube"></i></a>
      </li>
    </ul>
    <a href="#" class="navbar_toggleBtn" id="modalOpenButton"><i class="fas fa-bars"></i></a>
  </nav>
  

  <!-- mobile nav modal hedden-->
  <div id="modalContainer" class="hidden">
    <div id="modalContent">
      <div class="mobile-nav-up">
        <div class='mobile-nav-top'>
          <a href="{% url "reservation:index" %}">
            <img style="width:100px;" src="{% static 'img/jool-logo.png' %}" alt="" />
          </a>
            
            <i class="fa solid fa-x" id="modalCloseButton"></i>
        </div>
        <a class= 'modal-list' href="{% url "reservation:index" %}"><li>HOME</li></a>
        <a class= 'modal-list' href="{% url "reservation:info" %}"><li>이용안내</li></a>
        
        <a class= 'modal-list' href="{% url "reservation:book" %}"><li>예약</li></a>
        
        <a class= 'modal-list' href="{% url "reservation:check" %}"><li>조회</li></a>
        <a class= 'modal-list' href="{% url "reservation:contact" %}"><li>연락하기</li></a>
      </div>
      <div class='mobile-nav-bottom'>로그인</div>
    </div>
  </div>
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
  {% block content %}
  {% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 End -->
  <script src="https://kit.fontawesome.com/2f3227cf14.js" crossorigin="anonymous"></script>
  <script src="{% static "js/main.js" %}"></script>
    <!--jquery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</body>
<footer>
  <div class="footer_div">
    <div>
      <p class="footer_line">줄랩 JoolLab | 대표 : 김현우</p>
      <p class="footer_line">"He who would travel happily must travel light"</p>
      <p class="footer_line">주소 :</p>
    </div>
    <div>
      <p class="footer_line">Copyright © 2024 joolLab 모든 권리 보유.</p>
      <div>
        <p class="footer_line">
          개인정보 처리방침 | 약관 | 판매 및 환불 | 법적 고지 | 사이트 맵
        </p>
      </div>
    </div>
  </div>
</footer>

</html>