{% extends 'base.html' %} {% load static %} {% block content %}
<div style="min-height: 100vh" class="tocenter">
  <!--div class="tocenter" style="width: 800px; margin-top:100px;">
    <h3>예약하기</h5>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %} {{ form.as_p }}
      <div class="tocenter">
        <button
        type="submit"
        class="card-button"
        style="width: 200px; margin-top: 20px"
        >예약하기
        </button>
      </div>
    </form>
  </div-->
  <!--div>
    <img
      class="card-img"
      style="margin-top: 100px; width: 100%"
      src="{% static 'img/group_22.png' %}"
      alt=""
    />
  </div-->
  <div style="margin-top: 100px">
    <a target="_blank" href="https://y1fggdiq20d.typeform.com/to/QPJJAkBx"
      ><button class="reserv_button">짐이동 예약하기</button></a
    >
  </div>
</div>
{% include "footer.html" %} {% endblock %}
