<div class="footer_div">
  <div>
    <p class="footer_line">줄랩 JoolLab | 대표 : 김현우</p>
    <p class="footer_line">"He who would travel happily must travel light"</p>
    <p class="footer_line">
      주소 : 78, Jungdong-ro 254beon-gil, Wonmi-gu, Bucheon-si, Gyeonggi-do,
      Republic of Korea
    </p>
  </div>
  <div>
    <p class="footer_line">Copyright © 2024 joolLab 모든 권리 보유.</p>
    <div>
      <p class="footer_line">
        개인정보 처리방침 | 약관 | 판매 및 환불 | 법적 고지 | 사이트 맵
      </p>
    </div>
  </div>
</div>
