{% extends "base.html" %} {% load static %} {% block content %}
<!--
<div class="main-container">
  <div class="main-img">
    <img src="{% static 'img/main-4.jpg' %}" alt="" />
  </div>
  <div class="main-text">
    <div class="word"></div>
  </div>
</div>
-->

<div class="tocenter">
  <div class="navbar-space"></div>
  <div class="hi">서비스 소개</div>
  <div class="depart-line"></div>
</div>

<div class="service-card-container">
  <div class="service-card">
    <img src="{% static 'img/boy.png' %}" alt="" />
    <div class="card-title">짐 보관하기</div>
    <div class="card-desc">한국에 나만의 창고를 만들 수 있어요.</div>
    <div class="card-button">이용하기</div>
  </div>
  <div class="service-card">
    <img src="{% static 'img/girl1.png' %}" alt="" />
    <div class="card-title">나에게 짐 보내기</div>
    <div class="card-desc">
      나만의 한국 창고에서 나의 집으로 짐을 보낼 수 있어요.
    </div>
    <div class="card-button">이용하기</div>
  </div>
</div>
{%endblock %}
