{% extends "base.html" %} {% load static %} {% block content %}
<!--
<div class="main-container">
  <div class="main-img">
    <img src="{% static 'img/main-4.jpg' %}" alt="" />
  </div>
  <div class="main-text">
    <div class="word"></div>
  </div>
</div>
-->
<div class="main-img-container">
  <img src="{% static 'img/seoul_chungye.jpg' %}" alt="" />
</div>
<div class="tocenter">
  <div class="hi">서비스 소개</div>
  <div class="depart-line"></div>
</div>

<div class="service-card-container">
  <div class="service-card">
    <img src="{% static 'img/boy.png' %}" alt="" />
    <div class="card-title">짐 옮김</div>
    <div class="card-desc">description</div>
    <div class="card-button">예약하기</div>
  </div>
  <div class="service-card">
    <img src="{% static 'img/girl1.png' %}" alt="" />
    <div class="card-title">짐 보관</div>
    <div class="card-desc">description</div>
    <div class="card-button">예약하기</div>
  </div>
  <div class="service-card">
    <img src="{% static 'img/girl2.png' %}" alt="" />
    <div class="card-title">여행용품 대여</div>
    <div class="card-desc">description</div>
    <div class="card-button">예약하기</div>
  </div>
</div>
{%endblock %}
