<footer>
  <div class="tocenter">
    <div class="depart-line"></div>
  </div>
  <div class="footer_div">
    <div>
      <p class="footer_line">JoolLab | 줄랩 | 대표자 및 개인정보책임자 : 김현우</p>
      <p class="footer_line">사업자등록번호 : 189-12-02532 | 통신판매업신고번호 : 추후획득</p>
      <p class="footer_line">Address : 78, Jungdong-ro 254beon-gil, Republic of Korea</p>
      <p class="footer_line">이용약관 | 개인정보처리방침 | 고객지원</p>
    </div>
    <div>
      <p class="footer_line">Copyright © 2024 joolLab All rights reserved</p>
      <div>
        <!--p class="footer_line"> 개인정보 처리방침 | 약관 | 판매 및 환불 | 법적 고지 | 사이트 맵 </p-->
      </div>
    </div>
  </div>
</footer>