<footer>
  <div class="tocenter">
    <div class="depart-line"></div>
  </div>
  <div class="footer_div">
    <div>
      <p class="footer_line">JoolLab | 줄랩</p>
      <p class="footer_line">"He who would travel happily must travel light"</p>
      <p class="footer_line">Address : 78, Jungdong-ro 254beon-gil, Republic of Korea</p>
    </div>
    <div>
      <p class="footer_line">Copyright © 2024 joolLab All rights reserved</p>
      <div>
        <!--p class="footer_line"> 개인정보 처리방침 | 약관 | 판매 및 환불 | 법적 고지 | 사이트 맵 </p-->
      </div>
    </div>
  </div>
</footer>